<div class="container">
  <div class="dndPlaceholder col-md-12"
    #placeholder></div>
  <div class="page-header">
    <h1>Ngx-drag-and-drop-lists Demo</h1>
    <p class="lead">Drag and drop </p>
  </div>

  <h3>Simple Drag and Drop</h3>

  <div class="row">
    <div class="col-md-6"
      [dndList]="{
      disabled: false,
      effectAllowed: 'move',
      allowedTypes: ['item']}"
      [dndPlaceholder]="placeholder"
      [dndModel]="simpleList[0]">
      <div *ngFor="let item of simpleList[0]"
        class="col-md-12"
        [dndType]="'item'"
        [dndDraggable]="{draggable:true, effectAllowed:'move'}"
        [dndObject]="item"
        (dndSelected)="log('selected')">{{item.name}}</div>
    </div>
    <div class="col-md-6"
      [dndList]="{
      disabled: false,
      effectAllowed: 'move',
      allowedTypes: ['item']}"
      [dndModel]="simpleList[1]"
      [dndPlaceholder]="placeholder">
      <div *ngFor="let item of simpleList[1]"
        class="col-md-12"
        [dndType]="'item'"
        [dndDraggable]="{draggable:true, effectAllowed:'move'}"
        [dndObject]="item"
        (dndSelected)="log('selected')">{{item.name}}</div>
    </div>
  </div>

  <h3>Typed Drag and Drop</h3>

  <div class="row">
    <div class="col-md-4">
      <h4>Only males</h4>
      <div [dndList]="{
        disabled: false,
        effectAllowed: 'move',
        allowedTypes: ['male']}"
        [dndPlaceholder]="placeholder"
        [dndModel]="typedList[0]">

        <div *ngFor="let item of typedList[0]"
          class="col-md-12"
          [dndType]="item.type"
          [dndDraggable]="{draggable:true, effectAllowed:'move'}"
          [dndObject]="item"
          (dndSelected)="log('selected')">{{item.name}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Only females</h4>
      <div [dndList]="{
        disabled: false,
        effectAllowed: 'move',
        allowedTypes: ['female']}"
        [dndModel]="typedList[1]"
        [dndPlaceholder]="placeholder">
        <div *ngFor="let item of typedList[1]"
          class="col-md-12"
          [dndType]="item.type"
          [dndDraggable]="{draggable:true, effectAllowed:'move'}"
          [dndObject]="item"
          (dndSelected)="log('selected')">{{item.name}}</div>
      </div>
    </div>

    <div class="col-md-4">
      <h4>People</h4>
      <div [dndList]="{
      disabled: false,
      effectAllowed: 'move',
      allowedTypes: ['male','female']}"
        [dndModel]="typedList[2]"
        [dndPlaceholder]="placeholder">
        <div *ngFor="let item of typedList[2]"
          class="col-md-12"
          [dndType]="item.type"
          [dndDraggable]="{draggable:true, effectAllowed:'move'}"
          [dndObject]="item"
          (dndSelected)="log('selected')">{{item.name}}</div>
      </div>
    </div>
  </div>

</div>
<!-- /container -->