<h1>Demo: Simple Lists</h1>


<div class="simpleDemo row">

  <div class="col-md-8">
    <div class="row">
      <div *ngFor="let list of models.lists;let index = i" class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">List {{i}}</h3>
          </div>
          <div class="panel-body">
            <ul [dndList]="{
        disabled: false,
        effectAllowed: 'move',
        allowedTypes: ['item']}" [dndModel]="list">
              <li *ngFor="let item of list;let index = i" [dndType]="'item'" [dndDraggable]="{draggable:true, effectAllowed:'move'}" [dndObject]="item"
                (dndMoved)="list.splice(i, 1)" (dndSelected)="log('selected')" [class.selected]="models.selected === item">
                {{item.label}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div view-source="simple"></div>

  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Generated Model</h3>
      </div>
    </div>
  </div>

</div>